
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Libertinus+Mono&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League-spartan',sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right,#0f2027, #203a43, #2c5364);
  
}
.text-center{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.calculator{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(35px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
input{
    width: 450px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;

}
input::placeholder{
    color: #ffffff;
}
button{
    border: none;
    width: 99px;
    height: 90px;
    margin: 10px;
    border-radius: 70%;
    background: transparent;
    backdrop-filter: blur(15px);
    font-size: 25px;
    box-shadow: -10px -1px 15px rgba(255,255,255,0.1);
    cursor: pointer;
    color: white;
}
button:hover{
    background: #203a43;
    transition: 0.5s ;
}
.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 90px;
  gap: 10px;
  justify-items: center;
}

.EqualBtn {
  grid-column: span 2;
  width: 225px; 
  border-radius: 45px;
  background-color: orange;
  color: white;
}
.operator{
    color: green;
}
